<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}<title>Домашняя библиотека</title>{% endblock title %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">

  {% block sidebar %}
      <ul>
        <li><a href="{% url 'index' %}">Домой</a></li>
        <li><a href="{% url 'authors' %}">Авторы</a></li>
        <li><a href="{% url 'books' %}">Книги</a></li>
          {% if user.is_authenticated %}
          <li>Вы вошли как: {{ user.get_username }}</li>
          <li><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></li>
          {% else %}
          <li><a href="{% url 'login' %}?next={{ request.path }}">Войти</a></li>
          {% endif %}
      </ul>
  {% endblock sidebar %}
  <div>
  {% block content %}
  {% endblock content %}
  </div>
</div>
</body>
</html>