{% extends 'catalog/base_generic.html' %}

{% block content %}
<h1>Домашнаяя библиотека</h1>

<p>Это моя личная бибилиотека, в которую я сохраняю прочтенные книги.
    Эти книги доступны для ознакомительного просмотра, однако загружать их не разрешается,
в виду отсутствия договоренности с авторами.</p>

<h2>Динамический контент</h2>

<p>Библиотека содержит: </p>
<ul>
    <li><strong>Книг: </strong>{{ num_books }}</li>
    <li><strong>Авторов: </strong>{{ num_authors }}</li>
    <li><strong>Посещений: </strong>{{ num_visits }}</li>
</ul>
{% endblock content %}