{% extends 'catalog/base_generic.html' %}

{% block content %}

{% if validlink %}
    <p>Please enter your new password</p>
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            <li>{{ form.new_password1.errors }}
                <label for="id_new_password1">New password: </label>
            {{ form.new_password1 }}</li>
            <li>{{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password: </label>
            {{ form.new_password2 }}</li>

        <li><input type="submit" value="Change my password"></li>
        </ul>

    </form>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link is invalid, possibly because it has already been used</p>
{% endif %}

{% endblock content %}